@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

:root {
    --primary-color: #FE877A;
    --secondary-color: white;
    --accent-color: #FE7C6E;
    --background-color: white;
    --text-color: #59666F;
    --text-color-light: #97A1A8;
    --border-color: #E6E6E6;
    --background-alt-color: #F5F5F5;
    --background-alt-color-light: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}
.content-area {
    margin-left: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-alt-color-light);
    flex-grow: 1;
    margin-top: 60px;
    min-height: calc(100vh - 60px);
}

main {
    padding-top: 24px;
    padding-left: 40px;
    flex-grow: 1;
    padding-bottom: 60px;
}
