.cards {
    display: flex;
    flex-direction: row;
    margin-top: 49px;
    margin-bottom: 60px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-alt-color);
    padding: 10px 0;
}

.pagination span{
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.btn-pagina-selected {
    
    padding: 5px 10px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: var(--primary-color);
    color: white !important;
    border: none;
    font-size: 14px;

}

.btn-pagina {
    padding: 5px 10px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    color: #97A1A8;
    border: none;
}
